<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">방명록 조회 페이지</h1>

            <div class="form-group">
                <label>번호</label>
                <input type="text" class="form-control" name="gno" th:value="${dto.gno}">
            </div>
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요." th:value="${dto.title}" readonly>
            </div>
            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="5" name="content" placeholder="내용을 입력하세요." th:value="${dto.content}" readonly></textarea>
            </div>
            <div>
                <label>작성자</label>
                <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요." th:value="${dto.writer}" readonly>
            </div>
            <div class="form-group">
                <label>작성일</label>
                <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <label>수정일</label>
                <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <br/>
        <a th:href="@{/guestbook/modify(gno=${dto.gno},page=${requestDTO.page})}"><button type="button" class=" btn btn-primary">수정</button></a>

        <a th:href="@{/guestbook/list(page=${requestDTO.page})}"><button type="button" class="btn btn-info">Go To List</button></a>

    </th:block>
</th:block>